.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

/*
    Flexbox
 */
.lot-flex-container {
    display: flex;

    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.hor-flex-container {
    width: 100%;

    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;

    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

/*
    Dialogs
 */
.dialog-container {
    overflow: initial !important
}

.dialog-main {
    background: white;
    margin: 10px auto;
    width: 1200px;
    height: 90vh;
    align-content: center;
    align-items: center;

    padding: 20px 30px;
    overflow: auto;
}

.delete-dialog {
    background: white;
    margin: 10px auto;
    width: 600px;
    height: auto;
    align-content: center;
    align-items: center;

    padding: 20px 30px;
    overflow: auto;
}

/*
    Form inputs
 */
.text-input {
    width: inherit;
    margin: 10px 0;
}

.full-size {
    width: 1200px;
}

.half-size {
    width: 500px;
    align-content: center;
    align-items: center;
}

.quarter-size {
    width: 250px;
    align-content: center;
    align-items: center;
}

.map-block {
    width: 700px;
    height: 100%;
}

.new-lot-button {
    width: 100%;
    height: 60px;
    text-align: center;
    margin: auto;
}

.action-buttons {
    display: flex;
    padding-top: 10px !important;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}