* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Helvetica, Roboto, sans-serif;
    text-transform: initial;
    font-size: 40px;
    font-weight: lighter;
    word-spacing: 0.2em;
    text-align: center;
}

h2 {
    font-family: Helvetica, Roboto, sans-serif;
    text-transform: initial;
    font-weight: normal;
    text-align: center;
    font-size: 22px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

h4 {
    text-align: left;
    font-size: 20px;
}

h5 {
    text-align: left;
    font-size: 18px;
}

p {
    font-size: 16px;
}