.bookCard {
    width: 500px;
    margin: auto;
    border-radius: 15px !important;
    padding: 20px 10px;
    align-content: center;
    text-align: center;
}

.bookCard-content {
    padding: 20px;
}

.bookCard-buttons {
    display: flex;
    padding-top: 10px !important;
    justify-content: space-evenly;
    align-items: center;
}
