.lot-grid {
    display: grid;
    grid-template-columns: 70% auto;
}

.lot-flex {
    display: flex;
    flex-direction: column;
}

.details {
    padding: 0 !important;
    width: 100%;
    box-shadow: unset !important;
}

.LotCard {
    width: 92%;
    margin: 12px;
}

.CarImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.inline {
    display: inline;
}

.LotData {
}

.LotPrice {
    text-align: center;
}

.boxed {
    border: #C0C0C0 1px solid;
    padding: 2px 4px;
}

.red {
    background-color: #FFC4C4;
}

.green {
    background-color: #C4FFC9;
}

.green-text {
    color: seagreen;
}

.red-text {
    color: orangered;
}

.hide {
    display: none !important;
}