#SearchBar {
    width: inherit;
}


.maxWidth {
    width: 100%;
}

.searcher {
    padding: 2px 4px;
    display: flex;
    width: inherit;
    margin: 10px;
}

.filterPanel {
    padding: 2px 4px;
    width: inherit;
    margin: 10px;
}

.filterBox {
    width: 100%;
}

.input {
    margin-left: 1px;
    flex: 1;
    padding-left: 6px;
}

.iconButton {
    padding: 10px;
}

.divider {
    height: 28px;
    margin: 4px;
}