.grid-container {
    display: inline-grid;
    grid-column-gap: 10px;
    width: 100vw;
    grid-template-columns: 20vw auto;
}

.stage-item {
    height: 85vh;
}

.card-item {
    display: flex;
}

.grid-item {
    height: inherit;
    overflow-y: scroll;
}

.container {
    height: 9vh;
    min-height: 64px;
}

/* Create two unequal columns that floats next to each other */
/*  PLEASE NEVER TO THE ABOVE, SOURCE OF NIGHTMARES AND BAD DREAMS */
/* Clear floats after the columns */