.nav-container {
    height: 8vh;
    min-height: 50px;
    background-color: white;
    color: #707070;
    padding: 0 !important;
}


#IconButton {
    height: 100%;
}

.brand {
    width: 100%;
    height: 8vh;
    padding: 0 !important;
}

.current {
    background-color: #E6E6E6 !important;
}

.page {
    width: 15vw;
    height: 8vh;
    padding: 0 !important;
    margin: 0;
}

.appLogo {
    width: 20vw;
}

.menuButton {
    float: left;
}

.grow {
    flex-grow: 1;
}
